body{
    overflow-x: hidden;
    font-family: 'Roboto Flex', sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: inherit;
}

h4{
    font-size: 1.2rem;
    font-weight: 600;
}

h5{
    font-weight: 550;
}

h3{
    font-family: 'Aclonica', sans-serif;
    letter-spacing:0.23rem;
    font-size: 2rem;
}

.card-header h3{
    padding-top: .34rem;
    font-family: 'Electrolize', sans-serif;
    font-size: 1.89rem;
}

span{
    font-family: 'Anonymous Pro', monospace;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 1px;
}

.section{
    margin-top: 6rem;
}

.shapes-eff .shapes{
    position:absolute;
    opacity: 0.2;
}
.shapes-eff .shape-1{
    width: 8rem;
    height: 8rem;
    border: 20px solid blueviolet;
    bottom: 30%;
    right: 30%;
    animation: spin 10s linear infinite;
    border: 20px solid blueviolet;
    bottom: 37%;
    right: 20%;
    animation: spin-1 10s linear infinite;
}
.shapes-eff .shape-2{
    width: 40rem;
    height: 40rem;
    border: 20px solid blueviolet;
    bottom: 30%;
    right: 30%;
    animation: spin 10s linear infinite;
    border: 20px solid blueviolet;
    bottom: 30%;
    right: 30%;
    animation: spin-1 10s linear infinite;
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        
        transform: rotate(360deg);
        transform: scale(0.5);
    }
}
@keyframes spin-1{
    0%{
        transform: rotate(120deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.blur{
    position:absolute;
    background-color:rgb(240, 171, 240) ;
    width:22rem;
    height: 14rem;
    border-radius: 50%;
    filter:blur(72px);
    z-index: -4;
    top:-9%;
    left:56%;
}

.blur-1{
    position:absolute;
    background-color:rgb(165, 174, 206) ;
    width:22rem;
    height: 14rem;
    border-radius: 50%;
    filter:blur(50px);
    z-index: -5;
    top:20%;
    left:-16%;
}

.blur-3{
    position:absolute;
    background-color:rgb(24, 27, 37) ;
    width:20rem;
    height: 11rem;
    border-radius: 30%;
    filter:blur(100px);
    z-index: -5;
    top:45%;
    right:-16%;
}

.blur-2{
    position:absolute;
    background-color:rgba(241, 241, 59, 0.959) ;
    width:90rem;
    height: 10rem;
    border-radius: 75%;
    filter:blur(140px);
    z-index: -6;
    top:70%;
    left:-11%;
}

.blur-4{
    position:absolute;
    background-color:rgba(241, 129, 148, 0.959) ;
    width:40rem;
    height: 10rem;
    border-radius: 15%;
    filter:blur(140px);
    z-index: -8;
    top:30%;
    left:-10%;
}

.blur-5{
    position:absolute;
    background-color:rgba(201, 133, 144, 0.959) ;
    width:40rem;
    height: 10rem;
    border-radius: 15%;
    filter:blur(140px);
    z-index: -9;
    top:30%;
    right:-110%;
}

.blur-6{
    position:absolute;
    background-color:rgba(148, 207, 148, 0.959) ;
    width:70rem;
    height: 60rem;
    border-radius: 15%;
    filter:blur(140px);
    z-index: -9;
    top:270%;
    right:10%;
}

.blur-7{
    position:absolute;
    background-color:rgba(253, 125, 21, 0.959) ;
    width:80rem;
    height: 10rem;
    border-radius: 15%;
    filter:blur(140px);
    z-index: -10;
    top:500%;
    left:-0.5%;
}

.home{
    position: relative;
    margin: 0;
}
.container-fluid{
    padding: 5% 17%;
}

.intro{
    padding-top: 10%;
}

.intro span{
    font-family: 'Dancing Script', cursive;
    font-weight: 1400;
    font-size: 3rem;
    letter-spacing: 0.5rem;
    padding-bottom: 0.25rem;
}

 h6{
   font-size: 1.3rem;
   font-family: 'Caveat', cursive;
font-family: 'Dancing Script', cursive;

}
.hello{
    font-family: 'Raleway', sans-serif;
    font-size: medium;
    font-weight: 400;
    font-size: 2.5rem;
}
img{
   border-radius: 50%;
   width:75%;
}

.btns{
    display:flex;
    flex-direction: row;
    padding-top: 10%;
}

.button{
    margin:7%;
    color:grey;

}

.about-item h3{
    text-transform: capitalize;
    margin-bottom: 5%;
}

.edu{
    margin-left: 13%;
}

.skill{
    padding-left: 22%;
    
}

 .about .timeline-item{
    margin-bottom: 10%;
    padding-left: 7%;

}

.about .timeline{
    position: relative;
    margin-left:12% ;
}

.about .timeline::before{
    content: '';
    position: absolute;
    height:100%;
    width:1px;
    left:23px;
    top:0;
    background-color: rgb(243, 86, 8);
}

.about .timeline-item{
    position: relative;
  
}

.timeline::after{

    content: " ";
    position: absolute;
    width:2px;
    height:80%;
    background-color: blueviolet;
    left:50vw;
    top:0%

}

.about .timeline-item::before{
    content: '';
    position: absolute;
    height:9px;
    width:9px;
    top:0px;
    border-radius: 30%;
    background-color: rgb(243, 86, 8);    
    left:1.2rem
}

.about .skills{
    display: flex;
    flex-wrap: wrap;
    padding:0 20%;
    margin-top: 4rem;
}

.about .skill-item{
    background-color: rgb(224, 208, 187);
    border: 1px solid rgb(174, 167, 157);
    padding: 5px 15px;
    margin:0 19px 35px 0;
    text-transform: capitalize;
    border-radius: 20px;
    
}

.contact ,.my-work{
    text-align: center;
    margin-bottom: 5rem;
}

.portfolio .card{
    margin: 2.3rem;
    margin-top: 0%;
}

.card .card-header{
    text-align: center;
    background: none;
    border-style: none;
}

.tech {
   display:flex;
   flex-wrap: wrap;
   justify-content: center;
   padding-top: 10px;
}

.tech .tech-items{
   padding-right: 0.5rem;
   border-left: 2px solid grey;
   padding-left: 0.5rem;
}

.tech .tech-items:last-child{
    border-right: 2px solid grey;
}

.card-body{
    text-align: center;
}

#testimonials-1 ,#testimonials-2 ,#testimonials-3 ,#testimonials-4 ,#testimonials-5 ,#testimonials-6 ,#testimonials-7,.image{
    border-radius: 0;
    height:50%;
}
.input-area{
    padding-left:8rem;
    padding-right:3rem;
    margin-top: 1rem;
}

.input-area .input-group{
    margin-bottom: 2.5em;
    border-radius: 15px;
    padding-left: 28px;
    letter-spacing: 2px;
    border: 1px solid grey;
}

.input-area .input-group::placeholder{
    color:grey;
    font-weight: 300;
    
}

.input-area textarea.input-group{
    height: 8rem;
    resize: none;
    padding-top:1rem;
}

.input-area .btn{
    border: 1px solid grey;
}

.input-area .btn:hover{
    transform:scale(1.2) ;
}

.contact-info{
    padding-left: 8rem;
    font-size: 1rem;
}

.contact-info .contact-items{
    padding-top: 1rem;
}

.contact-me{
    padding-bottom: 3rem;
}

.contact-items .social-links a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    background-color: rgb(55, 44, 44);
    color: white;
    border-radius: 50%;
    margin-right: 4%;
    font-size: 1.5rem;
}

.contact-items .social-links a:hover{
    color:black;
    background-color: rgb(180, 224, 19);
}

#to-top{
    position:fixed;
    bottom:22px;
    right:18px;
    font-size:30px;
    color:#1232c2;
    border-radius: 50%;
    background-color: rgb(141, 135, 135);
    height:50px;
    width:50px;
    line-height: 50px;
    filter: opacity(0.5);
    text-align: center;
}
















